            @font-face{
                font-family: billy-angel_rainbow;
                src: url(/resume/personal_use_fonts/rainbow_bridge_personal_use.ttf);
            }
            @font-face{
                font-family: cookie-monster;
                src: url(/resume/personal_use_fonts/cookie-monster.ttf);
            }
            @font-face{
                font-family: cutie-patootie-skinny;
                src: url(/resume/personal_use_fonts/cutie-patootie-skinny.ttf);
            }
            @font-face{
                font-family: cutie-patootie-medium;
                src: url(/resume/personal_use_fonts/cutie-patootie.ttf);
            }
            body{
                margin: 0;
                font-family: cutie-patootie-skinny;
            }
            .aboutbody{
                background-color: #ff99cc;
            }
            .workbody{
                background-color: #ff9900;
            }
            .contactbody{
                background-color: #663366;
            }
            .hobbiesbody{
                background-color: #00cccc;
            }
            header{
                background: url("/resume/images/unicorn_banner 1.png");
                background-position: top center;
                background-repeat: repeat;
                height: 458px;
                background-size: cover;
                padding-bottom:25px;
            }
            nav{
                overflow: hidden;
            }
            nav a:link{
                float: right;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                color:white;
                font-family: cutie-patootie-medium;
            }
            nav a:visited{
                float: right;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                color:#663366;
                font-family: cutie-patootie-medium;
            }
            nav a:hover{
                float: right;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                color:#ff9900;
                font-family: cutie-patootie-medium;
            }
             nav a:active{
                float: right;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                color:#ff99ff;
                font-family: cutie-patootie-medium;
            }
            h1{
                color:#FF003C;
                opacity: 0.8;
                text-align:center;
                margin-top: 260px;
                background-color: #FABE28;
                font-family: billy-angel_rainbow;
                font-size: 50px;
                padding-top: 12px;
                padding-bottom: 14px;
            }
            .style1{
                margin-top: 40px;
                padding-top: 50px;
                color:#FF003C;
                text-align: center;
                font-family: cookie-monster;
                font-size: 80px;
            }
            .picstyle1{
                display: block;
                margin-left: auto;
                margin-right: auto
            }
            #about img{
                width:30%;
            }
            #about {
                margin-top: 20px;
                text-align: center;
                background:url(/resume/images/text_bg_1.png);
                padding-bottom: 20px;
                color:#FF003C;
            }
            #work {
                color:white;
                margin-top: 20px;
                text-align: justify;
                background:url(/resume/images/text_bg_2.png);
                padding-bottom: 20px;
            }
             #hobbies {
                color:white;
                margin-top: 20px;
                background:url(/resume/images/text_bg_3.png);
                padding-bottom: 20px;
            }
             #contact {
                margin:auto;
                background:url(/resume/images/text_bg_4.png);
                padding-bottom: 20px;
                text-align: center;
            }
            #contact img{
                width:40px;
                height:40px;
                padding-right: 25px;
            }
            #contact p{
                text-align: justify;
                margin-left:425px;
                color: #FABE28;
            }
            #hobbies ol{
                text-align: left;
                width:90%;
                margin:auto;
                background-color: rgba(0,193,118,0.5);
                border:dashed white 1px;
            }
            .style2{
                margin-top: 40px;
                padding-top: 50px;
                margin-left: 40px;
                color:#FF003C;
                font-family: cookie-monster;
                font-size: 80px;
            }
            .style3{
                margin-top: 40px;
                padding-top: 50px;
                padding-bottom: 40px;
                color:white;
                text-align: center;
                border:dashed white 1px;
                font-family: cookie-monster;
                font-size: 80px;
            }
            .style4{
                margin-top: 40px;
                padding-top: 50px;
                padding-bottom: 40px;
                color:#FABE28;
                text-align: center;
                font-family: cookie-monster;
                font-size: 80px;
            }
            #logo{
                height:40px;
                width:40px;
                float:left;
                }
            #kicker{
                color:#FF003C;
                opacity: 0.8;
                text-align:center;
                font-size:1.3em;
                padding-top:10px;
                padding-bottom: 12px;
                background-color: #FABE28;
                font-family: billy-angel_rainbow;
                }
            p{
                padding-bottom: 10px;
                padding-top: 12px;
                width:75%;
            }
            #about p{
                text-align: justify;
                margin:auto;
                padding-bottom: 50px;
                font-family: cutie-patootie-medium;
            }
            ul {
                list-style-image: url('/resume/images/heart_bullet_yellow.png');
                list-style-position: inside;
            }
            li{
               border:dashed #FF003C 1px;
               padding-top: 12px;
               padding-bottom: 14px;
            }
            #hobbies li{
                border:solid white 1px;
                text-indent: 10px;
            }
            .signoff{
                text-align: left
            }
            footer{
                margin-top: 30px;
                background-color: #00C176;
                color: white;
                font-size: 25px;
                padding-top: 14px;
                padding-bottom: 16px;
                font-family: cutie-patootie-skinny;
            }
            footer address a{
                text-decoration: none;
                font-family: Arial;
            }
            footer address{
                margin-left: 20px;
            }